<div class="text-center">
    <h1 class="display-4">Azure Tables</h1>

    <a asp-action="CategoryIndex" class="btn btn-secondary px-4 py-2 m-4">
        Categories
    </a>

    <a asp-action="ProductIndex" class="btn btn-secondary px-4 py-2 m-4">
        Products
    </a>

    <a asp-action="Insert" class="btn btn-secondary px-4 py-2 m-4">
        Insert Many
    </a>
</div>
